// Обертка для всего контента страницы кроме подвала
.wrapper {
  font-size: $main_font_size;
  min-height: 100%;
  height: 100%;
}
// Стили для блока вывешенного по центру
.container {
  max-width: $container_width;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.container_large {
  max-width: 1650px;
}
.container_small {
  max-width: 820px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 245px;
  height: 55px;
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 3px;
  font-weight: 900;
  font-size: 18px;
  color: #fff;
  transition: all 0.3s;
  &_large {
    width: 275px;
    font-weight: 500;
  }
  &_small {
    margin-top: 35px;
    width: 194px;
  }
}
.button:hover {
  background: linear-gradient(106.89deg, #eb5757 -14.32%, #eb5757 100.68%);
}
.button .icon {
  font-size: 32px;
  margin-right: 5px;
}

.social {
  padding: 0;
  margin: 0;
  color: #fefefe;
  font-size: 20px;
  margin-left: 2px;
  margin-bottom: 75px;
  &_inline {
    margin: 0;
    display: flex;
  }
  &_inline > &__item {
    display: inline-block;
    margin: 0 15px 0 0;
  }
  &_inline > &__item:nth-child(3) {
    order: 4;
  }
  &__item {
    list-style: none;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.3s;
  }
  &__item:hover {
    color: #eb5757;
  }
}
.title {
  color: #333333;
  font-weight: 900;
  font-size: 48px;
  margin: 30px 0;
}
.logotype {
  filter: invert(8%) sepia(77%) saturate(0%) hue-rotate(295deg) brightness(88%)
    contrast(71%);
  &_white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(51deg)
      brightness(102%) contrast(105%);
  }
}