// Обертка для всего контента страницы кроме подвала
.wrapper {
  font-size: $main_font_size;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}
// Стили для блока вывешенного по центру

.container {
  max-width: 940px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 320px) {
  .container {
    padding: 0 10px;
  }
}

@media (min-width: 1201px) {
  .container {
    max-width: $container_width;
  }
}
@media (min-width: 1201px) {
  .container_large {
    max-width: 1660px;
  }
}
.container_small {
  max-width: 830px;
  @media (max-width: 1200px) {
    max-width: 786px;
  }
}
.container_left {
  margin-left: 0;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 245px;
  height: 55px;
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 3px;
  font-weight: 900;
  font-size: 18px;
  color: #fff;
  transition: all 0.3s;
  &_large {
    width: 275px;
    font-weight: 500;
  }
  &_small {
    margin-top: 35px;
    width: 194px;
  }
  &_mt {
    margin-top: 10px;
  }
}
.button:hover {
  background: linear-gradient(106.89deg, #eb5757 -14.32%, #eb5757 100.68%);
}
.button .icon {
  font-size: 32px;
  margin-right: 5px;
}

.social {
  padding: 0;
  margin: 0;
  color: #fefefe;
  font-size: 20px;
  margin-left: 2px;
  margin-bottom: 75px;
  @media (max-width: 1200px) {
    margin-bottom: -10px;
    margin-left: 0;
  }
  &_inline {
    margin: 0;
    display: flex;
  }
  &_inline > &__item {
    display: inline-block;
    margin: 0 15px 0 0;
  }
  &_inline > &__item:nth-child(3) {
    order: 4;
  }
  &__item {
    list-style: none;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.3s;
  }
  &__item:hover {
    color: #eb5757;
  }
}
.title {
  color: #333333;
  font-weight: 900;
  font-size: 48px;
  margin: 30px 0;
  @media (max-width: 320px) {
    font-size: 36px;
  }
}
.logotype {
  filter: invert(8%) sepia(77%) saturate(0%) hue-rotate(295deg) brightness(88%)
    contrast(71%);
  &_white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(51deg)
      brightness(102%) contrast(105%);
  }
}
.range {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 28px 0 32px;
  width: 245px;
  &_nomargin {
    margin: 0;
  }
  &_favorite {
    left: -98px;
    @media (max-width: 1440px) {
      left: -120px;
    }
    @media (max-width: 1200px) {
      left: -67px;
    }
    @media (max-width: 640px) {
      left: -130px;
    }
    @media (max-width: 320px) {
      width: 140px;
      left: -115px;
      .range__input {
        margin-top: 3px;
      }
      .range__input::-webkit-slider-thumb {
        width: 17px;
      }
    }
  }
  &_dark .range__big {
    color: #333333;
  }
  &_dark .range__input::-webkit-slider-thumb {
    background: #333333;
  }
  &_dark .range__input::-moz-range-thumb {
    background: #333333;
  }
  &_shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &__current {
    color: #bdbdbd;
    font-size: 14px;
    font-weight: 900;
  }
  &__big {
    font-size: 24px;
    color: #fefefe;
  }
  &__input {
    display: block;
    appearance: none;
    background-color: rgba(189, 189, 189, 0.57);
    margin-top: 15px;
    cursor: pointer;
    width: 100%;
    height: 5px;
    outline: none;
    &_large::-webkit-slider-thumb {
      width: 62px !important;
      @media (max-width: 1200px) {
        width: 80px !important;
      }
    }
    &_large::-moz-range-thumb {
      width: 62px !important;
      @media (max-width: 1200px) {
        width: 80px !important;
      }
    }
  }
  &__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 10px;
    background: #fefefe;
    cursor: pointer;
  }
  &__input::-moz-range-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 10px;
    background: #fefefe;
    cursor: pointer;
    border-radius: 0;
    border: none;
  }
}
.map {
  padding: 70px 0 100px;
  &_bg-gray {
    background-color: #f2f2f2;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__box {
    height: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    position: relative;
  }
}
.pin {
  width: 67px;
  height: 94px;
  position: absolute;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__pseudo {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 67px;
    height: 94px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.01);
    transition: opacity 0.3s;
    opacity: 0;
  }
  &__image {
    position: absolute;
    left: calc(50% - 21px);
    top: 13px;
    width: 43px;
    height: 43px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
  }
  &_active > &__pseudo {
    opacity: 1;
  }
}
.pin:hover > .tooltip {
  visibility: visible;
  opacity: 1;
}
.pin:hover > .pin__pseudo {
  opacity: 1;
}
#pin-panda {
  top: calc(36% - 94px);
  left: calc(77% - 33px);
}
#pin-eagle {
  top: calc(33% - 94px);
  left: calc(13% - 33px);
}
#pin-alligator {
  top: calc(39% - 94px);
  left: calc(23% - 33px);
}
#pin-gorilla {
  top: calc(56% - 94px);
  left: calc(50.5% - 33px);
}
.world {
  // width: 100%;
}
.tooltip {
  cursor: pointer;
  visibility: hidden;
  position: relative;
  width: 436px;
  top: 100px;
  left: 32px;
  display: flex;
  padding: 40px 50px 44px 44px;
  background-color: #fefefe;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  border-radius: 8px;
  transition: all 0.3s;
  opacity: 0;
  z-index: 10;
  &__img {
    margin-right: 20px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    color: #333333;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 2px;
  }

  &__text {
    margin: 5px 0 0 0;
    font-size: 14px;
  }
}
