<nav
  class="navigation"
  [ngClass]="{ open: isOpen, game: isGameMode}"
  (clickOutside)="closeMenu()"
>
  <button class="navigation__toggle" (click)="toggleMenu()"></button>
  <ul class="navigation__bar">
    <li class="navigation__item">
      <a
        class="navigation__link"
        routerLink="/main"
        routerLinkActive="active"
        (click)="toggleMenu()"
        >Main page</a
      >
    </li>
    <li class="navigation__item" *ngFor="let category of categories">
      <a
        class="navigation__link"
        routerLink="categories/{{ category.id }}"
        routerLinkActive="active"
        (click)="toggleMenu()"
        >{{ category.name }}</a
      >
    </li>
    <li class="navigation__item">
      <a
        class="navigation__link"
        routerLink="/statistics"
        routerLinkActive="active"
        (click)="toggleMenu()"
        >Statistics</a
      >
    </li>
  </ul>
</nav>
