.content-field {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1000px;
  height: 802px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
