//  ==========================
//  Eremin Alexey
//  Email: eremeow138@yandex.ru
//  GitHub: https://github.com/Eremeow138
//  ==========================
// Файл с переменными
@import "variables/variables";
// Подключение примесей
@import "mixins/mixin";
// Пример подключение шрифта через google fonts
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,900);
// Пример подключение шрифта через mixin
// 4 параметра: 1. Название шрифта; 2. Путь к шрифту; 3. Толщина шрифта(font-weight); 4. Стиль шрифта(font-style)
@include font-face(
  "Roboto",
  "../assets/fonts/Roboto/Roboto-Bold",
  bold,
  normal
);
@include font-face(
  "Roboto",
  "../assets/fonts/Roboto/Roboto-Black",
  900,
  normal
);
@include font-face(
  "Roboto",
  "../assets/fonts/Roboto/Roboto-Light",
  300,
  normal
);
@include font-face("Roboto", "../assets/fonts/Roboto/Roboto-Thin", 100, normal);
@include font-face(
  "Roboto",
  "../assets/fonts/Roboto/Roboto-Medium",
  500,
  normal
);
@include font-face(
  "Roboto",
  "../assets/fonts/Roboto/Roboto-Regular",
  normal,
  normal
);

// Подключение отдельных фалов стилей в общий css

// Файл со стилями сброса. Используется подправленный normalize.css
@import "core/reset";
// Файл с основными стилями каркаса страницы
@import "core/template";
// Стили для шапки
@import "core/header";
// Стили для подвала
@import "core/footer";
// Иконочный шрифт
@import "core/icon-fonts";

.intro {
  height: 940px;
  padding: 15px 0;
  background-image: url("../assets/images/main-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__up {
    margin-top: 190px;
    max-width: 793px;
  }

  &__title {
    margin: 0;
    margin-bottom: 39px;
    font-weight: 900;
    color: #fefefe;
    font-size: 87px;
    line-height: 104px;
    letter-spacing: 1px;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -88px;
    left: 153px;
    color: #fff;
    width: 1083px;
  }
  &__slider {
    padding-left: 175px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    background-image: url("../assets/images/line.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__slide {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    margin: 0 23px;
    width: 140px;
    height: 203px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 10px;
    transition: all 0.3s;
    &_big {
      top: -14px;
      width: 245px;
      height: 352px;
      font-size: 14px;
    }
    &_big .intro__plate {
      padding: 32px 23px;
    }
    &_big .icon {
      font-size: 25px !important;
      margin-right: 5px !important;
    }
    &_big .intro__actions {
      font-size: 12px !important;
    }
  }
  &__slide:hover .intro__plate {
    top: 0;
    opacity: 1;
  }
  &__slide::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s;
    background: linear-gradient(
        357.17deg,
        #000000 -56.45%,
        rgba(0, 0, 0, 0) 65.03%
      ),
      url(panda-3875289_1920.jpg);
  }
  &__slide:hover::after {
    opacity: 1;
  }
  &__plate {
    position: relative;
    top: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 0.3s;
    opacity: 0;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 10;
  }
  &__actions {
    font-size: 8px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
  }
  &__actions .icon {
    font-size: 12px;
    margin-right: 2px;
  }
  &__action {
    display: flex;
    align-items: center;
    transition: 0.3s all;
    &_blue {
      color: turquoise;
    }
  }
  &__action:hover {
    color: #eb5757;
  }
}
.range {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 28px 0 32px;
  width: 245px;
  &_nomargin {
    margin: 0;
  }
  &_left {
    left: -98px;
  }
  &_dark .range__big {
    color: #333333;
  }
  &_dark .range__input::-webkit-slider-thumb {
    background: #333333;
  }
  &_shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &__current {
    color: #bdbdbd;
    font-size: 14px;
    font-weight: 900;
  }
  &__big {
    font-size: 24px;
    color: #fefefe;
  }
  &__input {
    display: block;
    appearance: none;
    background-color: rgba(189, 189, 189, 0.57);
    margin-top: 15px;
    cursor: pointer;
    width: 100%;
    height: 5px;
    outline: none;
    &_large::-webkit-slider-thumb {
      width: 62px !important;
    }
  }
  &__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 10px;
    background: #fefefe;
    cursor: pointer;
  }
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 245px;
  height: 55px;
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 3px;
  font-weight: 900;
  font-size: 18px;
  color: #fff;
  transition: all 0.3s;
}
.button:hover {
  background: linear-gradient(106.89deg, #eb5757 -14.32%, #eb5757 100.68%);
}
.button .icon {
  font-size: 32px;
  margin-right: 5px;
}

.social {
  padding: 0;
  margin: 0;
  color: #fefefe;
  font-size: 20px;
  margin-left: 2px;
  margin-bottom: 75px;
  &__item {
    list-style: none;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.3s;
  }
  &__item:hover {
    color: #eb5757;
  }
}
.title {
  color: #333333;
  font-weight: 900;
  font-size: 48px;
  margin: 30px 0;
}
.how {
  padding: 70px 0 100px;
  &__describe {
    font-size: 14px;
    margin-top: 32px;
    margin-bottom: 30px;
    line-height: 16px;
  }
  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__slider {
    width: 100%;
  }

  &__slide {
    width: 100%;
    height: 323px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
  }
}
.inspire {
  background-color: #f2f2f2;
  padding: 100px 0 117px;
  &__box {
    display: flex;
    margin: 0 -15px;
  }

  &__item {
    width: 33.333%;
    padding: 0 15px;
    text-align: center;
  }

  &__logo {
    color: #4bd8b5;
    font-size: 81px;
  }

  &__title {
    color: #333333;
    font-weight: 900;
    margin: 15px 0;
    font-size: 20px;
  }

  &__text {
    font-size: 14px;
    text-align: left;
  }
}
.pets {
  padding: 70px 0 100px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__slider {
    display: flex;
    position: relative;
    margin-top: 8px;
  }
  &__arrow {
    position: absolute;
    transition: all 0.3s;
    cursor: pointer;
    filter: invert(13%) sepia(5%) saturate(18%) hue-rotate(354deg)
      brightness(110%) contrast(84%);
    top: calc(50% - 16px);
    &_left {
      left: -28px;
    }
    &_right {
      right: -28px;
      transform: rotate(180deg);
    }
    &_empty {
      filter: invert(58%) sepia(0%) saturate(5548%) hue-rotate(135deg)
        brightness(89%) contrast(78%);
    }
    &_empty:hover {
      filter: invert(58%) sepia(0%) saturate(5548%) hue-rotate(135deg)
        brightness(89%) contrast(78%) !important;
    }
  }
  &__arrow:hover {
    filter: invert(52%) sepia(69%) saturate(2416%) hue-rotate(326deg)
      brightness(97%) contrast(89%);
  }
  &__slide {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    margin: 0 15px;
    width: 278px;
    height: 399px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 14px;
    transition: all 0.3s;
    color: #fff;
  }
  &__slide:hover .pets__plate {
    top: 0;
    opacity: 1;
  }
  &__slide::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s;
    background: linear-gradient(
      348.75deg,
      #000000 10.15%,
      rgba(0, 0, 0, 0) 59%
    );
  }
  &__slide:hover::after {
    opacity: 1;
  }
  &__plate {
    position: relative;
    top: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 0.3s;
    opacity: 0;
    padding: 0 60px 44px 22px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 10;
  }
  &__actions {
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
  }
  &__actions .icon {
    font-size: 25px;
    margin-right: 2px;
  }
  &__action {
    display: flex;
    align-items: center;
    transition: 0.3s all;
    &_blue {
      color: turquoise;
    }
  }
  &__action:hover {
    color: #eb5757;
  }
}
