.statistics {
  &__table {
    text-align: left;
    border-collapse: separate;
    border-spacing: 2px;
    background: #ece9e0;
    color: #656665;
    border: 16px solid #ece9e0;
    border-radius: 20px;
    width: 100%;
  }

  &__caption {
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
  }

  &__row {
    border: 1px solid grey;
    &:nth-child(2n) {
      background: white;
    }
  }

  &__cell {
    background: #00d6e757;
    padding: 10px;
    &_head {
      cursor: pointer;
      user-select: none;
    }
    &_head::after {
      color: red;
    }
  }
}
.up::after {
  content: "\2BC6";
}
.down::after {
  content: "\2BC5";
}
