<div class="statistics">
  <table class="statistics__table">
    <caption class="statistics__caption">
      Word statistics
    </caption>
    <tr class="statistics__row" (click)="clickForSort($event)">
      <th class="statistics__cell statistics__cell_head">№</th>
      <th class="statistics__cell statistics__cell_head" data-field="category">
        Category
      </th>
      <th class="statistics__cell statistics__cell_head" data-field="word">
        Word
      </th>
      <th
        class="statistics__cell statistics__cell_head"
        data-field="translation"
      >
        Translate
      </th>
      <th
        class="statistics__cell statistics__cell_head"
        data-field="trainClicks"
      >
        Train clicks
      </th>
      <th
        class="statistics__cell statistics__cell_head"
        data-field="wasGuessed"
      >
        Was guessed
      </th>
      <th class="statistics__cell statistics__cell_head" data-field="errors">
        Errors
      </th>
      <th
        class="statistics__cell statistics__cell_head"
        data-field="rightAnswers"
      >
        Right answers (%)
      </th>
    </tr>
    <tr
      class="statistics__row"
      *ngFor="let wordStatistics of table$ | async; index as number"
    >
      <td class="statistics__cell">{{ number }}</td>
      <td class="statistics__cell">{{ wordStatistics.category }}</td>
      <td class="statistics__cell">{{ wordStatistics.word }}</td>
      <td class="statistics__cell">{{ wordStatistics.translation }}</td>
      <td class="statistics__cell">{{ wordStatistics.trainClicks }}</td>
      <td class="statistics__cell">{{ wordStatistics.wasGuessed }}</td>
      <td class="statistics__cell">{{ wordStatistics.errors }}</td>
      <td class="statistics__cell">{{ wordStatistics.rightAnswers }}</td>
    </tr>
  </table>
</div>
