@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto/Roboto-Thin.eot");
  src: url("../src/assets/fonts/Roboto/Roboto-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/Roboto/Roboto-Thin.woff2") format("woff2"),
    url("../src/assets/fonts/Roboto/Roboto-Thin.woff") format("woff"),
    url("../src/assets/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto/Roboto-Bold.eot");
  src: url("../src/assets/fonts/Roboto/Roboto-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/Roboto/Roboto-Bold.woff2") format("woff2"),
    url("../src/assets/fonts/Roboto/Roboto-Bold.woff") format("woff"),
    url("../src/assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto/Roboto-Black.eot");
  src: url("../src/assets/fonts/Roboto/Roboto-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/Roboto/Roboto-Black.woff2") format("woff2"),
    url("../src/assets/fonts/Roboto/Roboto-Black.woff") format("woff"),
    url("../src/assets/fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto/Roboto-Light.eot");
  src: url("../src/assets/fonts/Roboto/Roboto-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/Roboto/Roboto-Light.woff2") format("woff2"),
    url("../src/assets/fonts/Roboto/Roboto-Light.woff") format("woff"),
    url("../src/assets/fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto/Roboto-Medium.eot");
  src: url("../src/assets/fonts/Roboto/Roboto-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/Roboto/Roboto-Medium.woff2") format("woff2"),
    url("../src/assets/fonts/Roboto/Roboto-Medium.woff") format("woff"),
    url("../src/assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto/Roboto-Regular.eot");
  src: url("../src/assets/fonts/Roboto/Roboto-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
    url("../src/assets/fonts/Roboto/Roboto-Regular.woff") format("woff"),
    url("../src/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --base-grad: linear-gradient(180deg, #0099ae 0%, #00bf82 100%);
}
* {
  font-family: "Roboto";
  box-sizing: border-box;
}
app-modal {
  display: none;
}
.game {
  --base-grad: linear-gradient(180deg, #e901eb 0%, #6011e1 50%, #2de9e4 100%);
}
button {
  outline: none;
  border: none;
}
.button {
  width: 11rem;
  padding: 1rem;
  color: white;
  background: var(--base-grad);
  text-align: center;
  border-radius: 11.8rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.button:active {
  transform: scale(0.9);
}

.admin-button {
  margin: 1em;
  border: 2px solid #00bf82;
  padding: 1em;
  border-radius: 5px;
  color: #00bf82;
  background-color: transparent;
  cursor: pointer;
  &_small {
    padding: 0 0.1em;
  }
  &_red {
    border: 2px solid #e53935;
    color: #e53935;
  }
}
