.cards-field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100vmin - 150px);
  position: relative;
}
.cards-field::before {
  content: '';
  display: block;
  padding-top: 100%;
}
.card-box {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
