@charset "UTF-8";
/* Global variables */
/* ======================================================================== */
:root {
  --base-grad: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/Roboto/Roboto-Bold.eot?") format("eot"), url("../assets/fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("../assets/fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype"), url('../assets/fonts/Roboto/Roboto-Bold.svg#str-replace("Roboto", " ", "_")') format("svg");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/Roboto/Roboto-Black.eot?") format("eot"), url("../assets/fonts/Roboto/Roboto-Black.woff2") format("woff2"), url("../assets/fonts/Roboto/Roboto-Black.woff") format("woff"), url("../assets/fonts/Roboto/Roboto-Black.ttf") format("truetype"), url('../assets/fonts/Roboto/Roboto-Black.svg#str-replace("Roboto", " ", "_")') format("svg");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Roboto/Roboto-Light.eot?") format("eot"), url("../assets/fonts/Roboto/Roboto-Light.woff2") format("woff2"), url("../assets/fonts/Roboto/Roboto-Light.woff") format("woff"), url("../assets/fonts/Roboto/Roboto-Light.ttf") format("truetype"), url('../assets/fonts/Roboto/Roboto-Light.svg#str-replace("Roboto", " ", "_")') format("svg");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/Roboto/Roboto-Thin.eot?") format("eot"), url("../assets/fonts/Roboto/Roboto-Thin.woff2") format("woff2"), url("../assets/fonts/Roboto/Roboto-Thin.woff") format("woff"), url("../assets/fonts/Roboto/Roboto-Thin.ttf") format("truetype"), url('../assets/fonts/Roboto/Roboto-Thin.svg#str-replace("Roboto", " ", "_")') format("svg");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Roboto/Roboto-Medium.eot?") format("eot"), url("../assets/fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("../assets/fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype"), url('../assets/fonts/Roboto/Roboto-Medium.svg#str-replace("Roboto", " ", "_")') format("svg");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/Roboto/Roboto-Regular.eot?") format("eot"), url("../assets/fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../assets/fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype"), url('../assets/fonts/Roboto/Roboto-Regular.svg#str-replace("Roboto", " ", "_")') format("svg");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 100%;
  font-family: "Roboto";
  color: #4f4f4f;
  overflow-x: hidden;
}

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
  text-decoration: none;
  color: inherit;
}

a:focus {
  outline: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.wrapper {
  font-size: 14px;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  max-width: 940px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 320px) {
  .container {
    padding: 0 10px;
  }
}

@media (min-width: 1201px) {
  .container {
    max-width: 1240px;
  }
}

@media (min-width: 1201px) {
  .container_large {
    max-width: 1660px;
  }
}

.container_small {
  max-width: 830px;
}

@media (max-width: 1200px) {
  .container_small {
    max-width: 786px;
  }
}

.container_left {
  margin-left: 0;
}

.container_slice {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  width: 245px;
  height: 55px;
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 3px;
  font-weight: 900;
  font-size: 18px;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button_large {
  width: 275px;
  font-weight: 500;
}

.button_small {
  margin-top: 35px;
  width: 194px;
}

.button_mt {
  margin-top: 10px;
}

.button:hover {
  background: linear-gradient(106.89deg, #eb5757 -14.32%, #eb5757 100.68%);
}

.button .icon {
  font-size: 32px;
  margin-right: 5px;
}

.social {
  padding: 0;
  margin: 0;
  color: #fefefe;
  font-size: 20px;
  margin-left: 2px;
  margin-bottom: 75px;
}

@media (max-width: 1200px) {
  .social {
    margin-bottom: -10px;
    margin-left: 0;
  }
}

.social_inline {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social_inline > .social__item {
  display: inline-block;
  margin: 0 15px 0 0;
}

.social_inline > .social__item:nth-child(3) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.social__item {
  list-style: none;
  margin-top: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.social__item:hover {
  color: #eb5757;
}

.title {
  color: #333333;
  font-weight: 900;
  font-size: 48px;
  margin: 30px 0;
}

@media (max-width: 425px) {
  .title {
    font-size: 36px;
  }
}

.logotype {
  -webkit-filter: invert(8%) sepia(77%) saturate(0%) hue-rotate(295deg) brightness(88%) contrast(71%);
          filter: invert(8%) sepia(77%) saturate(0%) hue-rotate(295deg) brightness(88%) contrast(71%);
}

.logotype_white {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(51deg) brightness(102%) contrast(105%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(51deg) brightness(102%) contrast(105%);
}

.range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 28px 0 32px;
  width: 245px;
}

@media (max-width: 425px) {
  .range {
    margin: 28px 0 20px;
  }
}

.range_nomargin {
  margin: 0;
}

.range_favorite {
  left: -98px;
}

@media (max-width: 1440px) {
  .range_favorite {
    left: -120px;
  }
}

@media (max-width: 1200px) {
  .range_favorite {
    left: -67px;
  }
}

@media (max-width: 640px) {
  .range_favorite {
    left: -130px;
  }
}

@media (max-width: 425px) {
  .range_favorite {
    width: 140px;
    left: -115px;
  }
  .range_favorite .range__input {
    margin-top: 3px;
  }
  .range_favorite .range__input::-webkit-slider-thumb {
    width: 17px;
  }
}

.range_dark .range__big {
  color: #333333;
}

.range_dark .range__input::-webkit-slider-thumb {
  background: #333333;
}

.range_dark .range__input::-moz-range-thumb {
  background: #333333;
}

.range_shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.range__current {
  color: #bdbdbd;
  font-size: 14px;
  font-weight: 900;
}

.range__big {
  font-size: 24px;
  color: #fefefe;
}

.range__input {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgba(189, 189, 189, 0.57);
  margin-top: 15px;
  cursor: pointer;
  width: 100%;
  height: 5px;
  outline: none;
}

.range__input_large::-webkit-slider-thumb {
  width: 62px !important;
}

@media (max-width: 1200px) {
  .range__input_large::-webkit-slider-thumb {
    width: 80px !important;
  }
}

.range__input_large::-moz-range-thumb {
  width: 62px !important;
}

@media (max-width: 1200px) {
  .range__input_large::-moz-range-thumb {
    width: 80px !important;
  }
}

.range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 10px;
  background: #fefefe;
  cursor: pointer;
}

.range__input::-moz-range-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 10px;
  background: #fefefe;
  cursor: pointer;
  border-radius: 0;
  border: none;
}

.map {
  padding: 70px 0 100px;
}

.map_bg-gray {
  background-color: #f2f2f2;
}

.map__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map__box {
  height: auto;
  margin-top: 32px;
  margin-bottom: 32px;
  position: relative;
}

.pin {
  width: 67px;
  height: 94px;
  position: absolute;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pin__pseudo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 67px;
  height: 94px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}

.pin__image {
  position: absolute;
  left: calc(50% - 21px);
  top: 13px;
  width: 43px;
  height: 43px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.pin_active > .pin__pseudo {
  opacity: 1;
}

.pin:hover > .tooltip {
  visibility: visible;
  opacity: 1;
}

.pin:hover > .pin__pseudo {
  opacity: 1;
}

#pin-panda {
  top: calc(36% - 94px);
  left: calc(77% - 33px);
}

#pin-eagle {
  top: calc(33% - 94px);
  left: calc(13% - 33px);
}

#pin-alligator {
  top: calc(39% - 94px);
  left: calc(23% - 33px);
}

#pin-gorilla {
  top: calc(56% - 94px);
  left: calc(50.5% - 33px);
}

.tooltip {
  cursor: pointer;
  visibility: hidden;
  position: relative;
  width: 436px;
  top: 100px;
  left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 50px 44px 44px;
  background-color: #fefefe;
  -webkit-box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
          box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  border-radius: 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  z-index: 10;
}

.tooltip__img {
  margin-right: 20px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tooltip__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.tooltip__title {
  color: #333333;
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 2px;
}

.tooltip__text {
  margin: 5px 0 0 0;
  font-size: 14px;
}

.header {
  position: relative;
  color: #333333;
  -webkit-box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
          box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
  z-index: 10;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 26px 0 22px;
}

@media (max-width: 320px) {
  .header__content {
    padding: 24px 0 22px;
  }
}

.checkbox {
  display: block;
  width: 54px;
  height: 30px;
  border-radius: 190px;
  background: #f2f2f2;
  cursor: pointer;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__circle {
  margin-left: 28px;
  background-color: #1b1b1b;
}

.checkbox__circle {
  width: 20px;
  height: 20px;
  border-radius: 25px;
  background: #fff;
  -webkit-box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
          box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  display: block;
  margin: 5px 6px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav {
  width: 100%;
  max-width: 571px;
  margin-top: 4px;
}

.nav_small {
  max-width: 380px;
}

.nav_white {
  color: #fefefe;
}

.nav_white .nav__link::before {
  border-bottom: 1px solid #fefefe;
}

.nav__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav__item {
  list-style: none;
}

.nav__link {
  position: relative;
  text-decoration: none;
  background-color: transparent;
  color: inherit;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nav__link::after {
  display: block;
  content: attr(title);
  font-weight: 900;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.nav__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  opacity: 0;
  border-bottom: 1px solid #333333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__link:hover::before {
  left: -5%;
  width: 110%;
  opacity: 1;
}

.nav__link:hover {
  font-weight: 900;
}

.active:before {
  left: -5%;
  width: 110%;
  opacity: 1;
}

.active {
  font-weight: 900;
  cursor: default;
  pointer-events: none;
}

.footer {
  padding: 98px 0 10px;
  background-color: #333333;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.footer__logo {
  width: 50%;
}

.footer__menu {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 17px;
}

.footer__main {
  margin-top: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.footer__contact {
  width: 50%;
}

.footer__form {
  max-width: 383px;
}

.footer__title {
  color: #fefefe;
  margin: 0 0 21px 0;
  font-size: 20px;
  font-weight: 900;
}

.footer__title_sub {
  margin: 0 0 35px 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__input {
  width: 100%;
  background: #333333;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  padding: 10px 0;
  font-size: 14px;
  color: #e0e0e0;
  outline: 0;
  margin-bottom: 9px;
}

.footer__input::-webkit-input-placeholder {
  color: #e0e0e0;
}

.footer__input:-moz-placeholder {
  color: #e0e0e0;
}

.footer__input::-moz-placeholder {
  color: #e0e0e0;
}

.footer__input:-ms-input-placeholder {
  color: #e0e0e0;
}

.footer__fieldset {
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  margin-top: 14px;
  height: 120px;
}

.footer__legend {
  color: #bdbdbd;
  font-size: 12px;
}

.footer__textarea {
  resize: none;
  outline: none;
  border: none;
  background-color: #333333;
  color: #e0e0e0;
  font-size: 14px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.footer__checkbox-wrapper {
  margin-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__check-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.footer__check {
  position: relative;
  display: block;
  margin-right: 6px;
  width: 13px;
  height: 13px;
  border: 1px solid #bdbdbd;
  border-radius: 1px;
}

.footer__check::after {
  position: absolute;
  content: ">";
  color: #bdbdbd;
  font-size: 25px;
  top: -10px;
  left: 0px;
  -webkit-transform: rotate(95deg);
          transform: rotate(95deg);
  opacity: 0;
}

.footer__checkbox {
  display: none;
}

.footer__checkbox:checked + .footer__check::after {
  opacity: 1;
}

.footer__agree {
  color: #bdbdbd;
  font-size: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.footer__button {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 108px;
  height: 16px;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin-left: auto;
  margin-top: 22px;
  margin-right: 13px;
  color: #000;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
  -webkit-filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(27deg) brightness(107%) contrast(107%);
          filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(27deg) brightness(107%) contrast(107%);
}

.footer__button:hover {
  -webkit-filter: invert(50%) sepia(89%) saturate(2636%) hue-rotate(329deg) brightness(100%) contrast(84%);
          filter: invert(50%) sepia(89%) saturate(2636%) hue-rotate(329deg) brightness(100%) contrast(84%);
}

.footer__button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-filter: invert(50%) sepia(89%) saturate(2636%) hue-rotate(329deg) brightness(100%) contrast(100%);
          filter: invert(50%) sepia(89%) saturate(2636%) hue-rotate(329deg) brightness(100%) contrast(100%);
}

.footer__send {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}

.footer__info {
  color: #fefefe;
  width: 50%;
  padding-left: 17px;
}

.footer__address {
  font-style: normal;
  font-size: 14px;
}

.footer__text {
  display: block;
  margin: 5px 0 0 0;
}

.footer__text:nth-child(3) {
  margin: 20px 0 0 0;
}

.footer__text:nth-child(4) {
  margin: 5px 0 20px 0;
}

.footer__autor {
  margin: 60px 0;
  border-top: 0.5px solid #fefefe;
}

.footer__copyright {
  margin-top: 26px;
  color: #bdbdbd;
  font-size: 12px;
  line-height: 17px;
}

@font-face {
  font-family: "icomoon";
  src: url("../assets/fonts/icomoon/icomoon.eot?2wrbvv");
  src: url("../assets/fonts/icomoon/icomoon.eot?2wrbvv#iefix") format("embedded-opentype"), url("../assets/fonts/icomoon/icomoon.ttf?2wrbvv") format("truetype"), url("../assets/fonts/icomoon/icomoon.woff?2wrbvv") format("woff"), url("../assets/fonts/icomoon/icomoon.svg?2wrbvv#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-card:before {
  content: "";
}

.icon-donate:before {
  content: "";
}

.icon-heart-hand:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-panda:before {
  content: "";
}

.icon-play:before {
  content: "";
}

.icon-problem-solving:before {
  content: "";
}

.icon-twetter:before {
  content: "";
}

.icon-vector:before {
  content: "";
}

.icon-vk:before {
  content: "";
}

.icon-youtube:before {
  content: "";
}

.icon-zoo:before {
  content: "";
}

.intro {
  min-height: 940px;
  padding: 15px 0;
  background-image: url("../assets/images/main-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1200px) {
  .intro {
    min-height: 926px;
  }
}

@media (max-width: 640px) {
  .intro {
    min-height: 934px;
  }
}

@media (max-width: 425px) {
  .intro {
    min-height: 669px;
  }
}

.intro__up {
  margin-top: 190px;
  max-width: 793px;
}

@media (max-width: 1200px) {
  .intro__up {
    margin-top: 113px;
  }
}

@media (max-width: 640px) {
  .intro__up {
    margin-top: 106px;
  }
}

@media (max-width: 320px) {
  .intro__up {
    margin-top: 77px;
  }
}

.intro__title {
  margin: 0;
  margin-bottom: 39px;
  font-weight: 900;
  color: #fefefe;
  font-size: 87px;
  line-height: 104px;
  letter-spacing: 1px;
}

@media (max-width: 1200px) {
  .intro__title {
    margin-bottom: 35px;
  }
}

@media (max-width: 1024px) {
  .intro__title {
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0;
  }
}

@media (max-width: 640px) {
  .intro__title {
    margin-bottom: 31px;
  }
}

@media (max-width: 425px) {
  .intro__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 15px;
  }
}

.intro__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 640px) {
  .intro__bottom {
    margin-top: 50px;
  }
}

@media (max-width: 320px) {
  .intro__bottom {
    margin-top: 35px;
  }
}

@media (max-width: 425px) {
  .intro__bottom .social {
    display: none;
  }
}

.intro__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -88px;
  left: 153px;
  color: #fff;
  width: 1083px;
}

@media (max-width: 1440px) {
  .intro__wrapper {
    top: 5px;
    left: 306px;
  }
}

@media (max-width: 1024px) {
  .intro__wrapper {
    left: 10px;
  }
}

@media (max-width: 640px) {
  .intro__wrapper {
    top: 0;
  }
}

@media (max-width: 425px) {
  .intro__wrapper {
    left: -7px;
  }
}

.intro__slider {
  padding-left: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
  background-image: url("../assets/images/line.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 1200px) {
  .intro__slider {
    padding-left: 275px;
    background-position: 50% 54%;
    margin-bottom: 25px;
  }
}

@media (max-width: 640px) {
  .intro__slider {
    padding-left: 150px;
  }
}

@media (max-width: 425px) {
  .intro__slider {
    padding-left: 15px;
    background-position: 0 49%;
    margin-bottom: 15px;
  }
}

.intro__slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  margin: 0 23px;
  width: 140px;
  height: 203px;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 1440px) {
  .intro__slide {
    width: 180px;
    height: 261px;
    margin: 0 15px;
  }
}

@media (max-width: 425px) {
  .intro__slide {
    width: 113px;
    height: 164px;
    margin: 0 5px;
  }
}

.intro__slide_big {
  top: -14px;
  width: 245px;
  height: 352px;
  font-size: 14px;
}

@media (max-width: 1200px) {
  .intro__slide_big {
    top: initial;
  }
}

@media (max-width: 425px) {
  .intro__slide_big {
    width: 140px;
    height: 202px;
    font-size: 12px;
  }
}

.intro__slide_big .intro__plate {
  padding: 32px 23px;
}

@media (max-width: 425px) {
  .intro__slide_big .intro__plate {
    padding: 8px 11px;
  }
}

.intro__slide_big .icon {
  font-size: 25px !important;
  margin-right: 5px !important;
}

.intro__slide_big .intro__actions {
  font-size: 12px !important;
}

@media (max-width: 425px) {
  .intro__slide_big .intro__actions {
    font-size: 10px !important;
  }
}

.intro__slide:hover .intro__plate {
  top: 0;
  opacity: 1;
}

.intro__slide::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: linear-gradient(357.17deg, #000000 -56.45%, rgba(0, 0, 0, 0) 65.03%);
}

.intro__slide:hover::after {
  opacity: 1;
}

.intro__plate {
  position: relative;
  top: 100px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 10;
}

.intro__actions {
  font-size: 8px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1440px) {
  .intro__actions {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 425px) {
  .intro__actions {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.intro__actions .icon {
  font-size: 12px;
  margin-right: 2px;
}

.intro__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.intro__action_blue {
  color: turquoise;
}

@media (max-width: 1440px) {
  .intro__action:first-child {
    margin-right: 5px;
  }
}

@media (max-width: 425px) {
  .intro__action:first-child {
    margin-bottom: 6px;
  }
}

.intro__action:hover {
  color: #eb5757;
}

.how {
  padding: 70px 0 100px;
}

@media (max-width: 640px) {
  .how {
    padding: 70px 0 69px;
  }
}

@media (max-width: 320px) {
  .how {
    padding: 20px 0 52px;
  }
}

.how__describe {
  font-size: 14px;
  margin-top: 32px;
  margin-bottom: 30px;
  line-height: 16px;
}

@media (max-width: 1200px) {
  .how__describe {
    margin-bottom: 14px;
  }
}

@media (max-width: 640px) {
  .how__describe {
    margin-bottom: 30px;
  }
}

@media (max-width: 320px) {
  .how__describe {
    margin-top: -8px;
    margin-bottom: 31px;
  }
}

.how__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how__slider {
  width: 100%;
}

@media (max-width: 320px) {
  .how__slider {
    margin-bottom: -10px;
  }
}

.how__slide {
  width: 100%;
  height: 323px;
  background-position: 10% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.inspire {
  background-color: #f2f2f2;
  padding: 100px 0 131px;
}

@media (max-width: 1368px) {
  .inspire {
    padding: 100px 0 117px;
  }
}

@media (max-width: 640px) {
  .inspire {
    padding: 100px 0 97px;
  }
}

@media (max-width: 320px) {
  .inspire {
    padding: 50px 0 47px;
  }
}

.inspire__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

@media (max-width: 640px) {
  .inspire__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: -25px 0;
  }
}

@media (max-width: 320px) {
  .inspire__box {
    margin: -15px 0;
  }
}

.inspire__item {
  width: 33.333%;
  padding: 0 15px;
  text-align: center;
}

@media (max-width: 640px) {
  .inspire__item {
    width: 100%;
    max-width: 317px;
    margin: 25px 0;
  }
}

@media (max-width: 320px) {
  .inspire__item {
    max-width: 330px;
    padding: 0;
    margin: 15px 0;
  }
}

.inspire__logo {
  font-size: 81px;
  background: var(--base-grad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inspire__title {
  color: #333333;
  font-weight: 900;
  margin: 15px 0;
  font-size: 20px;
}

.inspire__text {
  font-size: 14px;
  text-align: left;
  margin-bottom: 0;
}

.pets {
  padding: 70px 0 100px;
}

@media (max-width: 640px) {
  .pets {
    padding: 70px 0 100px;
  }
}

@media (max-width: 425px) {
  .pets {
    padding: 70px 0 50px;
  }
}

@media (max-width: 640px) {
  .pets .button {
    margin-top: 5px;
  }
}

@media (max-width: 425px) {
  .pets .button {
    margin-top: 8px;
  }
}

.pets__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.pets__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 8px;
}

@media (max-width: 1200px) {
  .pets__slider {
    margin-top: 4px;
  }
}

@media (max-width: 1024px) {
  .pets__slider {
    margin: 0 -10px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media (max-width: 640px) {
  .pets__slider {
    margin-top: 6px;
    margin-bottom: 7px;
  }
}

@media (max-width: 425px) {
  .pets__slider {
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 0;
    margin-bottom: 3px;
  }
}

.pets__arrow {
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  -webkit-filter: invert(13%) sepia(5%) saturate(18%) hue-rotate(354deg) brightness(110%) contrast(84%);
          filter: invert(13%) sepia(5%) saturate(18%) hue-rotate(354deg) brightness(110%) contrast(84%);
  top: calc(50% - 16px);
}

@media (max-width: 1024px) {
  .pets__arrow {
    display: none;
  }
}

.pets__arrow_left {
  left: -28px;
}

.pets__arrow_right {
  right: -28px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pets__arrow_empty {
  -webkit-filter: invert(58%) sepia(0%) saturate(5548%) hue-rotate(135deg) brightness(89%) contrast(78%);
          filter: invert(58%) sepia(0%) saturate(5548%) hue-rotate(135deg) brightness(89%) contrast(78%);
}

.pets__arrow_empty:hover {
  -webkit-filter: invert(58%) sepia(0%) saturate(5548%) hue-rotate(135deg) brightness(89%) contrast(78%) !important;
          filter: invert(58%) sepia(0%) saturate(5548%) hue-rotate(135deg) brightness(89%) contrast(78%) !important;
}

.pets__arrow:hover {
  -webkit-filter: invert(52%) sepia(69%) saturate(2416%) hue-rotate(326deg) brightness(97%) contrast(89%);
          filter: invert(52%) sepia(69%) saturate(2416%) hue-rotate(326deg) brightness(97%) contrast(89%);
}

.pets__slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  margin: 0 15px;
  width: 278px;
  height: 399px;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 14px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
}

@media (max-width: 1368px) {
  .pets__slide {
    width: 210px;
    height: 301px;
    margin: 0 10px;
  }
}

@media (max-width: 425px) {
  .pets__slide {
    margin: 0 8px;
  }
}

.pets__slide:hover .pets__plate {
  top: 0;
  opacity: 1;
}

.pets__slide::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: linear-gradient(348.75deg, #000000 10.15%, rgba(0, 0, 0, 0) 59%);
}

.pets__slide:hover::after {
  opacity: 1;
}

.pets__plate {
  position: relative;
  top: 100px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  padding: 0 60px 44px 22px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 10;
}

@media (max-width: 1368px) {
  .pets__plate {
    padding: 0 7px 32px 9px;
  }
}

.pets__actions {
  font-size: 12px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pets__actions .icon {
  font-size: 25px;
  margin-right: 2px;
}

.pets__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.pets__action_blue {
  color: turquoise;
}

.pets__action:hover {
  color: #eb5757;
}

.pay {
  padding: 71px 0 100px;
  background-color: #f2f2f2;
}

@media (max-width: 425px) {
  .pay {
    padding: 20px 0 50px;
  }
}

.pay__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pay__description {
  font-size: 14px;
  margin: 0;
  text-align: center;
}

@media (max-width: 640px) {
  .pay__description {
    max-width: 538px;
    margin-top: -12px;
  }
}

@media (max-width: 425px) {
  .pay__description {
    display: none;
  }
}

.pay__instruction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 92px;
  margin-bottom: 60px;
}

@media (max-width: 1200px) {
  .pay__instruction {
    margin-top: 49px;
    margin-bottom: 50px;
  }
}

@media (max-width: 1024px) {
  .pay__instruction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 935px;
    margin-top: 46px;
  }
}

@media (max-width: 425px) {
  .pay__instruction {
    margin-top: 1px;
    margin-bottom: 40px;
  }
}

.pay__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.pay__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 52px;
  width: 239px;
  height: 239px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.pay__item:nth-child(odd) {
  width: 245px;
  height: 245px;
  border-radius: 50%;
  background: var(--base-grad);
}

.pay__icon {
  margin-top: 5px;
  position: relative;
  font-size: 65px;
  background: var(--base-grad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}

.pay__text {
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  margin: 12px 0 0 0;
}

.testimonials {
  padding: 70px 0 100px;
}

@media (max-width: 1368px) {
  .testimonials .container {
    max-width: 940px;
  }
}

@media (max-width: 425px) {
  .testimonials {
    padding: 20px 0 100px;
  }
}

.testimonials__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__slider-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media (max-width: 425px) {
  .testimonials__slider-box {
    margin-bottom: -10px;
  }
}

.testimonials__slider {
  margin: 12px -15px 0px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: calc(100% + 30px);
  overflow: hidden;
}

@media (max-width: 1368px) {
  .testimonials__slider {
    width: calc(100% + 20px);
  }
}

@media (max-width: 768px) {
  .testimonials__slider {
    margin: -2px 0px 1px;
  }
}

@media (max-width: 425px) {
  .testimonials__slider {
    margin: -13px -15px 1px;
  }
}

.testimonials__arrow {
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  -webkit-filter: invert(13%) sepia(5%) saturate(18%) hue-rotate(354deg) brightness(110%) contrast(84%);
          filter: invert(13%) sepia(5%) saturate(18%) hue-rotate(354deg) brightness(110%) contrast(84%);
  top: calc(50% - 9px);
}

@media (max-width: 1024px) {
  .testimonials__arrow {
    display: none;
  }
}

.testimonials__arrow_left {
  left: -43px;
}

.testimonials__arrow_right {
  right: -43px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.testimonials__arrow:hover {
  -webkit-filter: invert(52%) sepia(69%) saturate(2416%) hue-rotate(326deg) brightness(97%) contrast(89%);
          filter: invert(52%) sepia(69%) saturate(2416%) hue-rotate(326deg) brightness(97%) contrast(89%);
}

.testimonials__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
  padding: 47px 72px;
  width: calc(50% - 30px);
  height: 310px;
  background-color: #fefefe;
  -webkit-box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
          box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
  border-radius: 5px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (max-width: 1368px) {
  .testimonials__slide {
    padding: 47px 56px;
    margin: 0 10px;
    width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .testimonials__slide {
    width: calc(100% - 20px);
    padding: 47px 72px;
  }
}

@media (max-width: 425px) {
  .testimonials__slide {
    padding: 50px 14px;
    height: auto;
  }
}

.testimonials__photo {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: 1px solid #bdbdbd;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (max-width: 425px) {
  .testimonials__photo {
    margin-bottom: 32px;
  }
}

.testimonials__photo_auto {
  background-size: auto;
}

.testimonials__name {
  margin: 17px 0;
  font-weight: 900;
  font-size: 20px;
}

@media (max-width: 425px) {
  .testimonials__name {
    font-size: 16px;
  }
}

.testimonials__text {
  margin: 0;
  text-align: left;
  font-size: 14px;
}

@media (max-width: 425px) {
  .testimonials__text {
    margin-bottom: 63px;
  }
}
/*# sourceMappingURL=style.css.map */