//  ==========================
//  Eremin Alexey
//  Email: eremeow138@yandex.ru
//  GitHub: https://github.com/Eremeow138
//  ==========================
// Файл с переменными
@import "../../../scss/variables/variables";
// Подключение примесей
@import "../../../scss/mixins/mixin";
// Пример подключение шрифта через google fonts
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,900);
// Пример подключение шрифта через mixin
// 4 параметра: 1. Название шрифта; 2. Путь к шрифту; 3. Толщина шрифта(font-weight); 4. Стиль шрифта(font-style)
@include font-face(
  "Roboto",
  "../../../assets/fonts/Roboto/Roboto-Bold",
  bold,
  normal
);
@include font-face(
  "Roboto",
  "../../../assets/fonts/Roboto/Roboto-Black",
  900,
  normal
);
@include font-face(
  "Roboto",
  "../../../assets/fonts/Roboto/Roboto-Light",
  300,
  normal
);
@include font-face(
  "Roboto",
  "../../../assets/fonts/Roboto/Roboto-Thin",
  100,
  normal
);
@include font-face(
  "Roboto",
  "../../../assets/fonts/Roboto/Roboto-Medium",
  500,
  normal
);
@include font-face(
  "Roboto",
  "../../../assets/fonts/Roboto/Roboto-Regular",
  normal,
  normal
);

// Подключение отдельных фалов стилей в общий css

// Файл со стилями сброса. Используется подправленный normalize.css
@import "../../../scss/core/reset";
// Файл с основными стилями каркаса страницы
@import "../../../scss/core/template";
// Стили для шапки
@import "../../../scss/core/header";
// Стили для подвала
@import "../../../scss/core/footer";
// Иконочный шрифт
$icomoon-font-path: "../../../assets/fonts/icomoon";
@import "../../../scss/core/icon-fonts";
.zoos {
  padding: 30px 0 100px;
  position: relative;
  &__aside {
    position: absolute;
    top: 0px;
    width: 209px;
    height: 100%;
  }
  &__box {
    display: flex;
    margin-top: 42px;
  }
  &__iframe {
    border-radius: 5px;
    width: 790px;
    height: 442px;
    &_small {
      width: 246px;
      height: 141px;
    }
  }
  &__description {
    margin-left: 30px;
  }
  &__video-slider {
    margin-top: 25px;
    position: relative;
  }
  &__plug {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 10;
  }
  &__video-slide {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  &__dot {
    width: 8px;
    height: 8px;
    background-color: #c4c4c4;
    border-radius: 50%;
    margin: 0 2.5px;
    cursor: pointer;
    &_active {
      width: 11px;
      height: 11px;
      background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
    }
  }

  &__subtitle {
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 6px 0;
  }

  &__text {
    margin: 0 0 13px 0;
    font-size: 14px;
  }
}
.page-slider {
  position: sticky;
  top: 10px;
  padding: 40px 0 50px;
  margin-top: 60px;
  transition: all 0.3s;
  &__arrow {
    position: absolute;
    cursor: pointer;
    left: calc(50% - 11px);
    filter: invert(13%) sepia(5%) saturate(18%) hue-rotate(354deg)
      brightness(110%) contrast(84%);
    &_up {
      top: 0px;
    }
    &_down {
      bottom: 10px;
      transform: rotate(180deg);
    }
    &_empty {
      filter: invert(58%) sepia(0%) saturate(5548%) hue-rotate(135deg)
        brightness(89%) contrast(78%);
    }
    &_empty:hover {
      filter: invert(58%) sepia(0%) saturate(5548%) hue-rotate(135deg)
        brightness(89%) contrast(78%) !important;
    }
  }
  &__arrow:hover {
    filter: invert(52%) sepia(69%) saturate(2416%) hue-rotate(326deg)
      brightness(97%) contrast(89%);
  }
  &__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s;
    &_active {
      width: 157px;
      height: 157px;
      background: linear-gradient(103.3deg, #07eee0 -15.1%, #df496d 92.15%);
      user-select: none;
      cursor: default;
    }
    &_active > .page-slider__img {
      width: 150px;
      height: 150px;
      border: 7px solid #fff;
    }
  }
  &__item:hover {
    width: 157px;
    height: 157px;
    background: linear-gradient(103.3deg, #07eee0 -15.1%, #df496d 92.15%);
  }
  &__item:hover > .page-slider__img {
    width: 150px;
    height: 150px;
    border: 7px solid #fff;
  }
  &__img {
    width: 115px;
    height: 115px;
    border: 5px solid #fff;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s;
  }
}
