.button {
  padding: 10px 16px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #2196f3;
  background: #f2f9fe;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12),
    0px 6px 10px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 0 10px;
  transition: all;
}
.button:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3), 0px 1px 18px rgba(0, 0, 0, 0.3),
    0px 6px 10px rgba(0, 0, 0, 0.3);
}
.button:active {
  background-color: #1199cf;
  color: #f2f9fe;
}
