.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
  font-size: 1rem;

  .modal__body {
    padding: 1.25em;
    background: #fff;
    margin: 2.5em;
  }
}

.modal__background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #000;
  opacity: 0.75;
  z-index: 900;
}

body.modal__open {
  overflow: hidden;
}
